/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic');
body {
  font-family: 'Roboto', sans-serif; !important
  font-weight: 400;
}
h1 {
  font-family: 'Roboto', sans-serif; !important
}
h2 {
  font-family: 'Roboto', sans-serif; !important
}
p {
  font-family: 'Roboto', sans-serif; !important
}
.card {
  border: none;
}
.bg-light {
  border: none;
  margin:1em;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0; !important
  box-shadow: none; !important
}
footer {
  margin-top: 4%;
  background-color: #c2c3c4;
}
.footer-link {
  padding-top: 1em;
  color: #000;
}
.product-home {
  padding:1%;
  padding-top: 2%;
  border: 1px solid gray;
}
.product-home:hover {
  -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.49);
  box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.49);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-buy {
  background-color: #fff;
  border: 1px solid #000;
  color:#000;
}
.btn-buy:hover {
  background-color:#000;
  color:#fff;
  border: none;
}
.form-control:focus, .form-control:active{
  outline: 0;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.1);
}
/* Responsive */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .product-home{
    margin-bottom: 1em;
  }
}
